*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-image: url(./images/gamer3.jpg);
    background-size: cover



}
body {
    font-family: Arial, Helvetica, sans-serif;
 /* background-image: radial-gradient(circle,white, magenta, white);*/
}

#title{
    font-size: 400%;
    text-align: center;
    font-weight: bolder;
    margin-top: 30px;
    word-spacing: 1cm;
    font-family: 'Orbitron', sans-serif;
    color: rgba(255, 255, 255, 0.781);
  text-align: center;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.692), 0 0 10px rgba(255, 255, 255, 0.705), 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;

}

#startButton {
    font-size: 400%;
    text-align: center;
    border: none;
    background-image: linear-gradient(white, magenta);
    border-radius: 5cm;
    width: 25%;
    


}

#quiz-container {
    align-items: center;
    width: 80%;
    display: grid;
    margin: 200px;
    background: none;
}


.buttons {
    font-size: 250%;
    text-align: center;
    align-items: center;
    margin: 5px;
    width: 60%;
    background-image: linear-gradient(rgba(0, 255, 255, 0.918), white);
    border-radius: 5cm;
    


}

#question {
    font-size: 200%;
    font-weight: bold;
    color: white;
    text-align: center;
    

}

#timer {
    font-size: 200%;
    margin-right: 200px;
    margin-bottom: 50px;
    color: white;
    background: none;
}

.hide {
    display: none;
}

.otherButtons {
    text-align: center;
}

#score-container {
    
    margin-left: 750px;
    padding: 20px;
   
}

input {
    color:white;
    border-radius: 3px;
    border: solid white;
    font-size: 200%;
    line-height: 30px;
    max-width: 50%;
    margin: 20px;
    padding: 3px;
    
    
}
 label {
     font-size: 200%;
     color: white;
     text-decoration: underline;

 }

#submitBtn {
    text-align: center;
    font-size: 200%;
    align-items: center;
    width: 20%;
    border: none;
    border-radius: 5cm;
    background-image: linear-gradient(rgba(0, 255, 255, 0.918), white);
}

#score {
    font-size: 200%;
    color: white;
    text-align: center;
}