*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

    
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#title{
    font-size: 400%;
    text-align: center;
    font-weight: bolder;
    color: rgb(2, 49, 65);
    

}

#startButton {
    font-size: 400%;
    text-align: center;
    border: none;

}

#quiz-container {
    display: flex;
    flex-direction: center;
    justify-content: center;
    width: 80%;
    display: grid;
    margin: 200px;
}


.buttons {
    font-size: 250%;
    text-align: center;
    align-items: center;
    margin: 5px;
    width: 60%;
    background-image: linear-gradient(rgba(0, 255, 255, 0.918), white);
    border-radius: 5cm;
    


}

#question {
    font-size: 200%;
    font-weight: bold;
    text-align: center;

}

#timer {
    font-size: 200%;
    margin-right: 200px;
    margin-bottom: 50px;
}

.hide {
    display: none;
}

.otherButtons {
    text-align: center;
}

#images {
    margin:10px;
    float: right;
    width: 150px;
    height: 60px;
}